@using BCKFreightTMS.Common
@using BCKFreightTMS.Services
@{
    this.ViewData["Title"] = "Home Page";
    var companies = this.ViewData["companies"] as List<CompanyInfo>;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 class="pt-3">Contacts</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a asp-controller="Contacts" asp-action="Index" class="small-box-footer">Add <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 class="pt-3">Orders</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-buffer"></i>
                    </div>
                    <a asp-controller="Orders" asp-action="Index" class="small-box-footer">Add <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 class="pt-3">Cargo</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-dropbox"></i>
                    </div>
                    <a asp-controller="Cargos" asp-action="AddCargo" class="small-box-footer">Add <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="row flex-row">
            <div class="m-2 card col-3">
                <div class="card-body p-2">
                    <h3>Bucharest <p class="m-0"><strong>Romania</strong></p></h3>
                    <iframe scrolling="no" frameborder="0" clocktype="html5" width="200" height="50" src="https://www.clocklink.com/html5embed.php?clock=047&timezone=Romania_Bucharest&color=gray&size=200&Title=&Message=&Target=&From=2020,1,1,0,0,0&Color=gray"></iframe>
                </div>
            </div>
            <div class="m-2 card col-3">
                <div class="card-body p-2">
                    <h3>Targovishte <p class="m-0"><strong>Bulgaria</strong></p></h3>
                    <iframe scrolling="no" frameborder="0" clocktype="html5" width="200" height="50" src="https://www.clocklink.com/html5embed.php?clock=047&timezone=Bulgaria_Sofia&color=gray&size=200&Title=&Message=&Target=&From=2020,1,1,0,0,0&Color=gray"></iframe>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <cache expires-after="TimeSpan.FromMinutes(60)">
        <table class="table table-bordered table-striped table-hover" id="contacts_data">
            <thead style="margin-bottom: 0px;">
                <tr>
                    <th>
                        Legal Form
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        UIC
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in companies)
                {
                    <tr>
                        <td>
                            @Html.Raw(company.LegalForm)
                        </td>
                        <td>
                            @Html.Raw(company.CompanyName)
                        </td>
                        <td>
                            @company.UIC
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </cache>
</section>

@*<div class="container-fluid">
        @companies.Count
        @foreach (var company in companies)
        {
            <p>@company.LegalForm @company.CompanyName (@company.UIC)</p>
            <hr />
        }
    </div>*@

@section Scripts{
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#contacts_data').DataTable({
                "paging": true,
                "filter": true,
                "processing": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                //"scrollX": true,
                //"scrollCollapse": true,
            });
        });
    </script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="luxon.js"></script>
    <!--<script src="~/plugins/chart.js/Chart.min.js"></script>
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.europe.js"></script>
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>-->
    <!-- daterangepicker -->
    <!--<script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>-->
    <!-- Tempusdominus Bootstrap 4 -->
    <!--<script src="~/plugins/tempusdom<script src="dist/js/pages/dashboard.js"></script>-->
    <!-- AdminLTE for demo purposes -->
    <!--<script src="dist/js/demo.js"></script>-->
    <!-- AdminLTE for demo purposes -->
    <!--<script src="~/js/demo.js"></script>-->
}


