@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<BCKFreightTMS.Web.ViewModels.Orders.ActionIndexViewModel>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 class="pt-3">@localizer["Contacts"]</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a asp-controller="Contacts" asp-action="Index" class="small-box-footer">@localizer["Add"] <i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 class="pt-3">@localizer["Orders"]</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-buffer"></i>
                    </div>
                    <a asp-controller="Orders" asp-action="Accept" class="small-box-footer">@localizer["Add"] <i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 class="pt-3">@localizer["Cargos"]</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-dropbox"></i>
                    </div>
                    <a asp-controller="Cargos" asp-action="AddCargo" class="small-box-footer">@localizer["Add"] <i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 class="pt-3">@localizer["Vehicles"]</h3>
                    </div>
                    <div class="icon">
                        <i class="fas fa-truck-moving"></i>
                    </div>
                    <a asp-controller="Vehicles" asp-action="AddVehicle" class="small-box-footer">@localizer["Add"] <i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="row justify-content-around">
            <div class="col-lg-3 col-sm">
                <div class="card">
                    <div class="card-body p-2">
                        <h3 class="m-0">Bucharest <p class="m-0"><strong>Romania</strong></p></h3>
                        <span id="Bucharest_z707" style="font-size:45px; font-family: 'Segoe UI'"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm">
                <div class="card">
                    <div class="card-body p-2">
                        <h3 class="m-0">Targovishte <p class="m-0"><strong>Bulgaria</strong></p></h3>
                        <span id="Targovishte_z729" style="font-size:45px; font-family: 'Segoe UI'"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm">
                <div class="card">
                    <div class="card-body p-2">
                        <h3 class="m-0">Belgrade <p class="m-0"><strong>Serbia</strong></p></h3>
                        <span id="Belgrade_z703" style="font-size:45px; font-family: 'Segoe UI'"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm">
                <div class="card">
                    <div class="card-body p-2">
                        <h3 class="m-0">Amsterdam <p class="m-0"><strong>Netherlands</strong></p></h3>
                        <span id="Netherlands_z700" style="font-size:45px; font-family: 'Segoe UI'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-1" />
    <div class="card">
        <h5 class="card-header text-bold">
            Pending actions
        </h5>
        <div class="card-body pt-2">
            <table class="table table-striped table-hover rounded" id="actions_data">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Destination
                        </th>
                        <th>
                            Due time
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-bold">
                                @localizer[item.TypeName]
                            </td>
                            <td>
                                @item.AddressCity, @item.AddressStreetLine
                            </td>
                            <td class="text-bold">
                                @item.Until.ToLocalTime().ToString("dddd, dd MMMM yyyy")
                            </td>
                            <td class="text-center">
                                <a asp-controller="Orders" asp-action="Status" asp-route-id="@item.OrderId" class="btn btn-@(item.IsFinished?"success":"primary") @(item.IsFinished?"disabled":null)">@(item.IsFinished ? "Finished" : "Active")</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<a href="https://time.is/" id="time_is_link" rel="nofollow" style="font-size:10px" class="float-right">time.is</a>


@section Scripts{
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('#actions_data').DataTable({
                "paging": false,
                "filter": true,
                "processing": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script src="//widget.time.is/t.js"></script>
    <script>
        time_is_widget.init({
            Targovishte_z729: {},
            Bucharest_z707: {},
            Belgrade_z703: {},
            Netherlands_z700: {}
        });
    </script>
}


