@using BCKFreightTMS.Web.ViewModels.Contacts
@model IEnumerable<AllContactsViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All</title>
</head>
<body class="container-fluid">
    <div class="p-2">
        <a class="btn btn-primary" asp-action="CreateCompany">Create Company</a>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contacts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Contacts
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td class="text-center" style="width:15%">
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="pr-3 fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" title="Detais"><i class="p-1 fas fa-info-circle"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="pl-3 fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
