@model BCKFreightTMS.Web.ViewModels.Contacts.CompanyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompanyDetails</title>
</head>
<body>

<div>
    <dl class="row">
        <dt class="col-sm-3 text-right">
            Name
        </dt>
        <dd class="col-sm-9">
            @Model.Name
        </dd>
        <dt class="col-sm-3 text-right">
            TaxCountry
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TaxCountryName)
        </dd>
        <dt class="col-sm-3 text-right">
            TaxNumber
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class="col-sm-3 text-right">
            Address
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AddressAddressStreetLine)
        </dd>
        <dt class="col-sm-3 text-right">
            Mobile
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ComunicatorsMobile1)
        </dd>
        <dt class="col-sm-3 text-right">
            Details
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ComunicatorsDetails)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
</body>
</html>
