@using BCKFreightTMS.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{  
    var user = await this.userManager.GetUserAsync(this.User);
    string picSrc;
    if (user.ProfilePicture is null)
    {
        picSrc = "/img/default-user-icon-4.jpg";
    }
    else
    {
        picSrc = $"data:image/*;base64,{(Convert.ToBase64String(user.ProfilePicture))}";
    } 
}

<aside class="main-sidebar position-fixed sidebar-dark-primary elevation-4" style="z-index: 20;">
    <a class="brand-link d-flex justify-content-center" asp-area="" asp-controller="Dashboard" asp-action="Index">
        <cache enabled="true"><img src="~/img/logo_full2.svg" class="img-fluid"
                    style="max-width: 75%"></cache> 
    </a>
    <div class="sidebar">
        <div class="user-panel mb-3 d-flex align-items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="image pl-2">
                    <cache vary-by-user="true" expires-sliding="@TimeSpan.FromDays(1)"><img src="@picSrc" class="img-circle elevation-2 align-middle" alt="User Image"></cache>
                </div>
                <div class="info mr-2 pr-2 text-white align-middle">
                    @this.User.Identity.Name
                    <p class="text-bold m-0" style="max-width:150px">@user.Company.Name</p>
                </div>
                <div class="info pl-4 ml-auto align-middle">
                    <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user-cog"></i></a>
                </div>
            }
            else
            {
                <div class="info mr-2">
                    <a class="d-block">Guest</a>
                </div>
            }
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("User"))
                {
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link @Url.MakeActiveClass("dashboard", null, "active")">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>@localizer["Dashboard"]</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Contacts" asp-action="Index" class="nav-link @Url.MakeActiveClass("contacts", null, "active")">
                            <i class="nav-icon fas fa-address-book"></i>
                            <p>@localizer["Contacts"]</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview @Url.MakeActiveClass(new[] { "orders" }, "menu-open")">
                        <a href="#" class="nav-link @Url.MakeActiveClass(new[] { "orders" }, "active")">
                            <i class="nav-icon fab fa-buffer"></i>
                            <p>
                                @localizer["Orders"]
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item pl-2">
                                <a asp-area="" asp-controller="Orders" asp-action="Accepted" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "accepted", "accept", "create"} )">
                                    <i class="nav-icon fas fa-check-circle"></i>
                                    <p>@localizer["Accepted"]</p>
                                </a>
                                <a asp-area="" asp-controller="Orders" asp-action="WaitingConfirm" class="nav-link @Url.MakeActiveClass("orders", "waitingconfirm", "active")">
                                    <i class="nav-icon fas fa-pause-circle m-0"></i>
                                    <p style="font-size:15px" class="align-self-center">@localizer["WaitingConfirm"]</p>
                                </a>
                                <a asp-area="" asp-controller="Orders" asp-action="Index" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "index", "status"}, "orders")">
                                    <i class="nav-icon fas fa-flag-checkered"></i>
                                    <p>@localizer["Active"]</p>
                                </a>
                                <a asp-area="" asp-controller="Orders" asp-action="Check" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "check", "finish"} )">
                                    <i class="nav-icon fas fa-tasks m-0"></i>
                                    <p style="font-size:14px" class="align-self-center">@localizer["Check"]</p>
                                </a>
                                <a asp-area="" asp-controller="Orders" asp-action="Failed" class="nav-link @Url.MakeActiveClass("orders", "failed", "active")">
                                    <i class="nav-icon fas fa-ban"></i>
                                    <p>@localizer["Failed"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item  @Url.MakeActiveClass(new[] { "invoices" }, "menu-open")">
                        <a href="#" class="nav-link @Url.MakeActiveClass(new[] { "invoices" }, "active")">
                            <i class="nav-icon fas fa-archive"></i>
                            <p>
                                @localizer["Invoices"]
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item pl-2  @Url.MakeActiveActionsClass( "menu-open", new[]{"filed", "incomplete", "editin", "correct" }, "invoices")">
                                <a href="#" class="nav-link @Url.MakeActiveActionsClass( "active", new[]{"filed", "incomplete", "editin", "correct" }, "invoices")">
                                    <i class="nav-icon fas fa-arrow-alt-circle-down"></i>
                                    <p>
                                        @localizer["Incoming"]
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item pl-2">
                                        <a asp-area="" asp-controller="Invoices" asp-action="Incomplete" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "incomplete", "correct" }, "invoices")">
                                            <i class="nav-icon fas fa-question-circle"></i>
                                            <p>@localizer["Incomplete"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item pl-2">
                                        <a asp-area="" asp-controller="Invoices" asp-action="Filed" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "filed", "editin" }, "invoices")">
                                            <i class="nav-icon fas fa-dot-circle"></i>
                                            <p>@localizer["Filed"]</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item pl-2 @Url.MakeActiveActionsClass( "menu-open", new[]{"forinvoicing", "unfinished", "invoicing", "editout", "addition", "awaitingpayment"})">
                                <a href="#" class="nav-link @Url.MakeActiveActionsClass( "active", new[]{"forinvoicing", "unfinished", "invoicing", "editout", "addition", "awaitingpayment"})">
                                    <i class="nav-icon fas fa-arrow-alt-circle-up"></i>
                                    <p>
                                        @localizer["Outgoing"]
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item pl-2">
                                        <a asp-area="" asp-controller="Invoices" asp-action="ForInvoicing" class="nav-link @Url.MakeActiveActionsClass("active", new[]{"forinvoicing", "invoicing"}, "invoices")">
                                            <i class="nav-icon fas fa-dot-circle"></i>
                                            <p style="font-size:14px" class="align-self-center">@localizer["For invoicing"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item pl-2">
                                        <a asp-area="" asp-controller="Invoices" asp-action="Unfinished" class="nav-link @Url.MakeActiveActionsClass("active", new[]{"unfinished", "addition"}, "invoices")">
                                            <i class="nav-icon fas fa-dot-circle"></i>
                                            <p>@localizer["Unfinished"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item pl-2">
                                        <a asp-area="" asp-controller="Invoices" asp-action="AwaitingPayment" class="nav-link @Url.MakeActiveActionsClass("active", new[]{"awaitingpayment", "editout"}, "invoices")">
                                            <i class="nav-icon fas fa-dot-circle"></i>
                                            <p>@localizer["AwaitingPayment"]</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @if (this.User.IsInRole("SuperUser"))
                    {
                        <li class="nav-item  @Url.MakeActiveClass(new[] { "transactions" }, "menu-open")">
                            <a href="#" class="nav-link @Url.MakeActiveClass(new[] { "transactions" }, "active")">
                                <i class="nav-icon fas fa-exchange-alt"></i>
                                <p>
                                    @localizer["Transactions"]
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item pl-2  @Url.MakeActiveActionsClass("menu-open", new[] { "pendingin", "paidin" }, "transactions")">
                                    <a href="#" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "pendingin", "paidin" }, "transactions")">
                                        <i class="nav-icon fas fa-arrow-alt-circle-up"></i>
                                        <p>
                                            @localizer["Contractors"]
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item pl-2">
                                            <a asp-area="" asp-controller="Transactions" asp-action="PendingIn" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "pendingin" }, "transactions")">
                                                <i class="nav-icon fas fa-dot-circle"></i>
                                                <p>@localizer["Pending"]</p>
                                            </a>
                                        </li>
                                        <li class="nav-item pl-2">
                                            <a asp-area="" asp-controller="Transactions" asp-action="PaidIn" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "paidin" }, "transactions")">
                                                <i class="nav-icon fas fa-dot-circle"></i>
                                                <p>@localizer["Paid"]</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item pl-2 @Url.MakeActiveActionsClass("menu-open", new[] { "pendingout", "paidout" })">
                                    <a href="#" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "pendingout", "paidout" })">
                                        <i class="nav-icon fas fa-arrow-alt-circle-down"></i>
                                        <p>
                                            @localizer["Clients"]
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item pl-2">
                                            <a asp-area="" asp-controller="Transactions" asp-action="PendingOut" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "pendingout" }, "transactions")">
                                                <i class="nav-icon fas fa-dot-circle"></i>
                                                <p>@localizer["Pending"]</p>
                                            </a>
                                        </li>
                                        <li class="nav-item pl-2">
                                            <a asp-area="" asp-controller="Transactions" asp-action="PaidOut" class="nav-link @Url.MakeActiveActionsClass("active", new[] { "filed", "editin" }, "transactions")">
                                                <i class="nav-icon fas fa-dot-circle"></i>
                                                <p>@localizer["Paid"]</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Cargos" asp-action="Index" class="nav-link @Url.MakeActiveClass("cargos", null, "active")">
                            <i class="nav-icon fas fa-truck-loading"></i>
                            <p>@localizer["Cargos"]</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Vehicles" asp-action="Index" class="nav-link @Url.MakeActiveClass("vehicles", null, "active")">
                            <i class="nav-icon fas fa-truck"></i>
                            <p>@localizer["Vehicles"]</p>
                        </a>
                    </li>
                    @if (this.User.IsInRole("SuperUser"))
                    {
                        <li class="nav-item has-treeview @Url.MakeActiveClass(new[] { "users", "settings" }, "menu-open")">
                            <a href="#" class="nav-link @Url.MakeActiveClass(new[] { "users", "settings" }, "active")">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    @localizer["Settings"]
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item pl-3">
                                    <a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link @Url.MakeActiveClass("users", null, "active")">
                                        <i class="nav-icon fas fa-users"></i>
                                        <p>@localizer["Users"]</p>
                                    </a>
                                    <a asp-area="" asp-controller="Settings" asp-action="Index" class="nav-link @Url.MakeActiveClass("settings", null, "active")">
                                        <i class="nav-icon fas fa-clipboard-check"></i>
                                        <p>@localizer["Configuration"]</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }}
            </ul>
        </nav>
    </div>
</aside>
