

<aside class="main-sidebar position-fixed sidebar-dark-primary elevation-4">
    <a class="brand-link d-flex justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/img/logo_full2.svg" class="img-fluid"
        style="max-width: 75%">
        @*<span class="brand-text font-weight-light">BCK Freight</span>*@
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="image">
                    <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                        <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index">@(this.User.Identity.Name)</a>
                </div>
            }
            else
            {
                <div class="info">
                    <a class="d-block">Hi Guest!</a>
                </div>
            }
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (User.Identity.IsAuthenticated && this.User.IsInRole("User"))
                {
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home", "index", "active")">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Contacts" asp-action="Index" class="nav-link @Url.MakeActiveClass("contacts", null, "active")">
                            <i class="nav-icon fas fa-address-book"></i>
                            <p>Contacts</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Orders" asp-action="Index" class="nav-link @Url.MakeActiveClass("orders", null, "active")">
                            <i class="nav-icon fab fa-buffer"></i>
                            <p>Orders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Cargos" asp-action="Index" class="nav-link @Url.MakeActiveClass("cargos", null, "active")">
                            <i class="nav-icon fas fa-truck-loading"></i>
                            <p>Cargos</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Vehicles" asp-action="Index" class="nav-link @Url.MakeActiveClass("vehicles", null, "active")">
                            <i class="nav-icon fas fa-truck"></i>
                            <p>Vehicles</p>
                        </a>
                    </li>
                    @if (this.User.IsInRole("SuperUser"))
                    {
                        <li class="nav-item has-treeview @Url.MakeActiveClass("users", null, "menu-open")">
                            <a href="#" class="nav-link @Url.MakeActiveClass("users", "index", "active")">
                              <i class="nav-icon fas fa-cog"></i>
                              <p>
                                Setings
                                <i class="fas fa-angle-left right"></i>
                              </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link @Url.MakeActiveClass("users", "index", "active")">
                                        <i class="nav-icon fas fa-users"></i>
                                        <p>Users</p>
                                    </a>
                                </li>
                            </ul>
                          </li>
                    }
                }
            </ul>
        </nav>
    </div>
</aside>
