@model BCKFreightTMS.Web.ViewModels.Orders.OrderApplicationModel
<head>
    <style>
        body {
            background: rgb(204,204,204);
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

        page p {
            margin-bottom: 1em;
        }

        page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
            padding: 1cm;
            font-size: 12px;
        }

        page[size="A4"][layout="landscape"] {
            width: 29.7cm;
            height: 21cm;
        }
    </style>
</head>
<page size="A4">
    <div style="text-align: center">
        <p style="font-size:16px"><strong>ЗАЯВКА</strong></p>

        <p>за международен/вътреобщностен автомобилен транспорт</p>

        <p>№ @Model.RefNumber / @DateTime.Now.ToString("dd.MM.yyyyг.")</p>
    </div>

    <p>1. Изпълнител: <b>@Model.OrderToCompanyName</b></p>

    @*<p>@Model.OrderToCompanyAddressAddressCity</p>*@

    <p><b>@Model.OrderToCompanyAddressAddressStreetLine</b></p>

    <p>ИД. Код: <b>@Model.OrderToCompanyTaxNumber</b></p>

    <p>ИН по ЗДДС: <b>@($"BG{Model.OrderToCompanyTaxNumber}")</b></p>

    <p>МОЛ: <b>@Model.OrderToCompanyAddressMOLFirstName @Model.OrderToCompanyAddressMOLLastName</b></p>

    <p>Тел: <b>@Model.OrderToCompanyComunicatorsMobile1</b></p>

    <p>2. Дестинация: </p>

    <p>· Адрес на товарене:</p>

    <p>· Адрес на разтоварване: </p>

    <p>3. Дата на извършване на услугата:</p>

    <p>· Дата на товарене:</p>

    <p>· Дата на разтоварване: </p>

    <p>4. Данни за товара:</p>

    <p>· Стока:</p>

    <p>· Придружаващи документи: товарителница, фактура;</p>

    <p>5. Цена и начин на плащане: </p>

    <p>· Платец на навлото: „БСК ФРЕЙТ“ ЕООД</p>

    <p>· Начин и срок на плащане: В 5 дневен срок, след получаване на Ваша фактура и оригинал на заверени – подписани и/или подпечатани 4бр. CMR-товарителници, без забележки, за действително превозваният товар, на адреса за кореспонденция: ул. „Хаджи Димитър“№10, гр. Търговище. </p>

    <p>· <strong>ФАКТУРИ С НЕПРАВИЛНИ ДАННИ, НЕПЪЛНИ КОМПЛЕКТИ С ДОКУМЕНТИ, НЕ СЕ ОБРАБОТВАТ И ЩЕ БЪДАТ ВРЪЩАНИ ОБРАТНО С КУРИЕР ЗА СМЕТКА НА ПРЕВОЗВАЧА. ДАТАТА НА ПАДЕЖ ЗАПОЧВА ДА ТЕЧЕ ОТ ДАТАТА НА ПОЛУЧАВАНЕ НА ПЪЛНИЯ КОМПЛЕКТ ДОКУМЕНТИ. </strong></p>

    <p><strong>5. Задължения на Превозвача:</strong></p>

    <p>При изпълнение на задълженията си, превозвачът е длъжен да действа с грижата на добър стопанин/търговец.</p>

    <p>Превозвачът гарантира, че използваните транспортни средства и наетия от него персонал, отговаря на всички нормативни изисквания, в това число Превозвачът разполага с всички разрешителни, лицензи и необходими документи за извършване на заявения превоз. Превозното средство трябва да се намира в изправно техническо състояние след редовен технически преглед.</p>
    
    <p>При транспорт на опасни товари превозвачът гарантира, че водачите на превозните средства са обучени според условията на ADR Конвенцията, а превозните средства отговарят на изискванията на ADR Конвенцията.</p>
</page>
<page size="A4">
    <p><strong>Превозвачът е длъжен да представи на „БСК ФРЕЙТ“ ЕООД валидна застраховка „Отговорност на превозвача“ за заявения с настоящата заявка превоз, като спазва стриктно задълженията си по застрахователния договор. Превозвачът е длъжен да паркира автомобила само на охраняеми паркинги и да не оставя превозното средство без надзор.</strong></p>

    <p>Превозвачът гарантира, че неговите служители/подизпълнители ще изпълняват задълженията си според изискванията на закона и настоящата заявка, както и се въздържат от действия, които могат да навредят на доброто име на „БСК ФРЕЙТ“ ЕООД, на изпращача и/или получателя на товара, ще бъдат в изряден външен вид, и ще спазват общоприетите правила за добро поведение. </p>

    <p><strong>По време на приемането на товара превозвачът е длъжен: </strong></p>

    <p>· Да следи правилното нареждане и укрепване на товара, което да предотврати разместването му;</p>

    <p>· Да провери точността на данните в товарителницата относно брой и маркировка на колетите и впише в случай на несъответствие забележка в товарителницата;</p>

    <p>· Да провери видимото състояние на превозваната стока и нейната опаковка и впише забележка, в случай на нарушена опаковка или недостатъчна такава; </p>

    <p>· Да нанесе забележките си в товарителницата, при невъзможност да брои в случай че няма достъп до товарното помещение или не се спазват неговите указания по време на товарене;</p>

    <p>· Да подпише и подпечата всички екземпляри на товарителницата;</p>

    <p>По време на транспорта, Превозвачът е длъжен:</p>

    <p>Да спазва изискването автомобилът да бъде снабден с колани, минимум по един на всеки линеен метър. <strong>В случай на неспазване, Превозвачътдължи неустойка 100,00лв.</strong></p>

    <p>Да дава ежедневна информация за движението на автомобила. <strong>Превозвачът дължи неустойка от 100,00лв. за всеки ден неизпълнение.</strong></p>

    <p>Да спазва последващите нареждания и указания от страна на „БСК ФРЕЙТ“ ЕООД.</p>

    <p>В случай, че представител на митническата администрация разпломбира превозното средство и изземе част от товара, Превозвачът е длъжен да следи за това, иззетото количество да бъде вписано в товарителницата или да бъде съставен протокол, като тези действия трябва да бъдат удостоверени с подпис и митнически печат.</p>

    <p>Превозвачът се задължава да не се договаря и извършва пряко за изпращача или получателя, който е клиент на „БСК ФРЕЙТ“ ЕООД, превоз на товари, освен ако Превозвачът вече има договорни взаимоотношения с този клиент. <strong>При неизпълнение, Превозвачът дължи на „БСК ФРЕЙТ“ ЕООД неустойка в размер на навлото, за последния извършен по заявка на „БСК ФРЕЙТ“ ЕООД превоз, но не по-малко от 1000,00лв.С настоящето Превозвачът декларира, че такива взаимоотношения не съществуват. </strong></p>

    <p>Превозвачът е длъжен своевременно да информира „БСК ФРЕЙТ“ ЕООД в писмен вид, при промяна на обстоятелства, свързани или относно търговската му регистрация, лиценз за превоз на товари, както и подновяване на ЧМР застраховката. </p>
    <p>Превозвачът няма право да възложи на подизпълнител извършването на заявения превоз, освен с писмено съгласие на „БСК ФРЕЙТ“ ЕООД. Не се разрешава публикуването на товари в интернет пространството и транспортно-спедиторските борси. </p>

    <p>При катастрофа, пожар, кражби или друг инцидент, Превозвачът е длъжен незабавно да информира „БСК ФРЕЙТ“ ЕООД, както и компетентните полицейски и други власти и изисква съставянето на официални документи, удостоверяващи събитието. Превозвачът е длъжен да съдейства на „БСК ФРЕЙТ“ ЕООД за изясняването на всякакви случаи на неизпълнение на закона и настоящата заявка. </p>

    <p>Превозвачът е длъжен да не разпространява и да не предоставя на трети лица никаква търговска или административна информация за „БСК ФРЕЙТ“ ЕООД, станала известна във връзка или по повод на настоящата заявка. </p>
</page>
<page size="A4">
    <p><strong>6. Отговорност и санкции:</strong></p>

    <p><strong>6.1</strong> Всички транспорти са подчинени на и се извършват в съответствие с Конвенцията относно договора за международен превоз на стоки по шосе (CMR), актуално издание.</p>

    <p><strong>6.2</strong> Превозвачът е отговорен за цялостната или частична липса и/или повреда на товара от момента на приемането му до момента на доставянето му. Последният е длъжен в рамките на 20 дни от получаване на рекламация за цялостната или частична липса и/или повреда на товара да предяви претенция за обезщетение за възникналата щета към своя застраховател и да уведоми „БСК ФРЕЙТ“ ЕООД за своето становище, респективно за становището на своя застраховател, по тази рекламация. В случай че след горепосочения срок такова становище не е предоставено на „БСК ФРЕЙТ“ ЕООД, ще се смята, че Превозвачът не оспорва отправената към него рекламация по основание и размер, и се задължава да я изплати в 15-дневен срок. </p>

    <p><strong>6.3 При престой на камион над 48 часа за обмитяване/товарене/разтоварване по вина на „БСК ФРЕЙТ“ ЕООД, последният дължи неустойка в размер на 100,00лв. за започнати 24 часа, ако в 5 дневен срок от деня на натоварване Превозвачът предяви искане.</strong></p>

    <p><strong>6.4 Ако в деня на товарене „БСК ФРЕЙТ“ ЕООД оттегли заявката за превоз, последният дължи неустойка в размер на 50,00лв., ако в 5-дневен срок Превозвачът предяви искане. </strong></p>

    <p><strong>6.5</strong>Превозвачът гарантира спазването на всички трудово-правни и социално-правни разпоредби свързани с неговата дейност, в това число и законови разпоредби на други държави, на чиято територия заявката за превоз се изпълнява, когато законите на тази чужда страна могат пряко или косвено да бъдат приложими във връзка с изпълнението на заявката за превоз. Тук се има в предвид, но не само разпоредби относно минималните заплати и т.н.</p>

    <p><strong>6.5A</strong>Превозвачът е задължен да осигури спазване на задълженията по т.6.5. от неговите подизпълнители и временни служители/работници.</p>

    <p><strong>6.5B</strong>При поискване, Превозвачът е длъжен да предостави доказателство за спазване на задълженията му по т.6.5.</p>

    <p><strong>6.5CЗа всяко нарушение на задълженията му по т. 6.5., Превозвачът дължи неустойка в размер на 5000,00€, която ще бъде дължима за плащане веднага. </strong></p>

    <p><strong>6.5D</strong> Превозвачът е задължен да обезщети „БСК ФРЕЙТ“ ЕООД по всички искове от трети страни, по-специално, но не само от служители на превозвача, претенции на подизпълнители, на работниците и служителите на подизпълнител, както и временни служители, които претенции са възникнали по повод на или във връзка с разпоредбите посочени в т6.5., като резултат на изпълнението на заявката за превоз. Задължението за обезщетение се отнася и за искове срещу Превозвача от страна на данъчно-осигурителни и други финансови органи и институции. </p>

    <p><strong>6.5E</strong> „БСК ФРЕЙТ“ ЕООД ще уведоми Превозвачът своевременно, ако претенции свързани с прилагането на разпоредбите посочени в т.6.5. по горе са предявени срещу „БСК ФРЕЙТ“ ЕООД от служители на Превозвача, подизпълнители или временно работещи за Превозвача, както и изпълняващи дейности за Превозвача на база граждански договори, или ако на „БСК ФРЕЙТ“ ЕООД стане известно, подобни претенции са предявени към трети страни от служители на Превозвача, подизпълнители или временно работещи за Превозвача, или изпълняващи дейности за Превозвача на база за граждански договори, данъчно-осигурителни или други финансови органи и институции. </p>

    <p><strong>6.5F</strong> Ако по повод или във връзка със споменатите в т6.5 разпоредби или във връзка с изпълнение на заявка за превоз от „БСК ФРЕЙТ“ ЕООД, ръководител или служител/работник на „БСК ФРЕЙТ“ ЕООД бъде осъден с влязло в сила решение за неспазване на разпоредбите по т. 6.5. по небрежност от страна на Превозвача, последният е длъжен да обезщети „БСК ФРЕЙТ“ ЕООД за наложено наказание, освен ако това не представя възпрепятстване на правосъдието. Превозвачът е длъжен да плати обезщетение на „БСК ФРЕЙТ“ ЕООД или съответната страна за разходи направени по делото, в това число държавни такси, адвокатски-консултантски хонорар. </p>

    <p><strong>6.5G</strong> Превозвачът е длъжен да уведоми „БСК ФРЕЙТ“ ЕООД незабавно за започнало административно или наказателно производство във връзка с прилагането на посочените в т.6.5. разпоредби, или ако на Превозвача е станало известно, че административно или наказателно производство на база прилагането на посочените в т.6.5 разпоредби е свързано с подизпълнители на Превозвача, временно работещи за Превозвача или изпълняващи дейности за Превозвача на база на граждански договори. </p>
</page>
<page size="A4">
    <p><strong>6.6</strong> При изпълнение на задълженията си по настоящата заявка, Превозвачът е длъжен да спазва всички приложими нормативни актове, ръководни принципи и други правила. В това число:</p>

    <p>· Превозвачът е длъжен да спазва нормите за борба с подкупите и корупцията (също така съответното законодателство на Обединеното кралство, когато е приложимо)</p>

    <p>· Превозвачът е длъжен да съблюдава правилата по организацията на времето за управление, прекъсвания, дневните и седмичните почивки на водачите във връзка с регламент (ЕО) 561 от 2006г. на Европейския парламент и Съвета на Европейския съюз, и във връзка с забраните за движение на тежкотоварни автомобили;</p>

    <p>· Превозвачът гарантира, че не е замесен с лица, групи, образуванията с които е забранено извършването на търговска дейност, в съответствие с Резолюции на ООН 1376/2001г. и 1390/2002г. разпоредби на ЕО 2580/2001г. и 881/2002г.</p>

    <p><strong>6.7</strong> „БСК ФРЕЙТ“ ЕООД не носи отговорност за искове, загуби и/или щети, възникнали във връзка с неизпълнение от страна на Превозвача на задълженията му по настоящата заявка и закона.</p>

    <p>Превозвачът е отговорен пред „БСК ФРЕЙТ“ ЕООД за искове, загуби и/или щети възникнали във връзка с неизпълнение от страна на Превозвача, на задълженията му по настоящата заявка и се задължава да обезщети, освободи от отговорност и защити „БСК ФРЕЙТ“ ЕООД в случай, че такива искове, загуби и/или щети настъпят. </p>

    <p><strong>6.8</strong> Неустойки дължащи се на „БСК ФРЕЙТ“ ЕООД от Превозвача за неспазване на договорните задължения по настоящата заявка, ще се прихващат от дължимото възнаграждение за извършен превоз. </p>

    <p>Заявката се счита за приета и горепосочените условия и задължения се считат за договорени със съобщаване на регистрационните номер на транспортното средство. Промяната на рег. Номера на транспортното средство не променя валидността и действието на настоящата заявка. </p>

    <p>„БСК ФРЕЙТ“ ЕООД работи на Общите Условия на Национално Сдружение на Българските Спедитори – последно издание.</p>

    <p style="text-align:right">Съставил: В. Пенчева</p>

    <p>Актуални данни за фактура и кореспонденция:</p>

    <p><strong>„БСК ФРЕЙТ“ ЕООД</strong></p>

    <p><strong>ул. „Хаджи Димитър“ №10</strong></p>

    <p><strong>гр. Търговище</strong></p>

    <p><strong>ИН по ЗДДС: BG200806805</strong></p>

    <p><strong>Булстат: 200806805</strong></p>

    <p><strong>МОЛ: Светослав Пенчев</strong></p>

    <p><strong>Тел: 0878 264 811</strong></p>
</page>

