@model BCKFreightTMS.Web.ViewModels.Orders.OrderInputModel
@{
    var companyItems = this.Model.CompanyItems.Select(ci => new SelectListItem(ci.Value, ci.Key));
    var loadingBodyItems = this.Model.LoadingBodyItems.Select(ci => new SelectListItem(ci.Value, ci.Key));
    var cargoTypeItems = this.Model.CargoTypeItems.Select(ci => new SelectListItem(ci.Value, ci.Key));
    var currencyItems = this.Model.CurrencyItems.Select(c => new SelectListItem(c.Value, c.Key));
}

<h4 class="text-bold mt-2">New Order</h4>
<hr />
<div class="col p-2">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group border border-dark rounded bg-gray-light col-5 p-2 mr-4" style="height: 80%">
                <h5 class="text-muted text-bold text-center">Client</h5>
                <div class="form-group">
                    <label asp-for="CompanyFromId" class="control-label">Client company</label>
                    <select asp-for="CompanyFromId" class="form-control" asp-items="companyItems">
                        <option hidden>Select</option>
                    </select>
                    <span asp-validation-for="CompanyFromId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceNetIn" class="control-label">Price</label>
                    <div class="form-row">
                        <input asp-for="PriceNetIn" class="form-control col-3" />
                        <select asp-for="CurrencyInId" class="form-control col-2 ml-2" asp-items="currencyItems"></select>
                    </div>
                    <span asp-validation-for="PriceNetIn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactFromId" class="control-label">Contact</label>
                        <select asp-for="ContactFromId" id="contactFrom" class="form-control" asp-items="@(new SelectList(string.Empty, "ContactId", "ContactName"))">
                            <option hidden>Select client first</option>
                        </select>
                    <span asp-validation-for="ContactFromId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group border border-dark rounded bg-gray-light col-6 p-2">
                <h5 class="text-muted text-bold text-center">Carrier</h5>
                <div class="form-group">
                    <label asp-for="CompanyToId" class="control-label">Carrier company</label>
                    <div class="form-row">
                        <select asp-for="CompanyToId" class="form-control col-7" asp-items="companyItems">
                            <option hidden>Select</option>
                        </select>
                        <select id="areaFilter" class="form-control col-4 ml-2" asp-items="@Model.AreasItems">
                            <option hidden>Filter by area</option>
                        </select>
                    </div>
                    <span asp-validation-for="CompanyToId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceNetOut" class="control-label">Price</label>
                    <div class="form-row">
                        <input asp-for="PriceNetOut" class="form-control col-3" />
                        <select asp-for="CurrencyOutId" class="form-control col-2 ml-2" asp-items="currencyItems"></select>
                    </div>
                    <span asp-validation-for="PriceNetOut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactToId" class="control-label">Contact</label>
                    <select asp-for="ContactToId" id="contactTo" class="form-control" asp-items="@(new SelectList(string.Empty, "ContactId", "ContactName"))">
                        <option hidden>Select carrier first</option>
                    </select>
                    <span asp-validation-for="ContactToId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label">Vehicle</label>
                    <select asp-for="VehicleId" id="vehicle" class="form-control" asp-items="@(new SelectList(string.Empty, "VehicleId", "VehicleNumber"))">
                        <option hidden>Select carrier first</option>
                    </select>
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DriverId" class="control-label">Driver</label>
                    <select asp-for="DriverId" id="driver" class="form-control" asp-items="@(new SelectList(string.Empty, "DriverId", "DriverName"))">
                        <option hidden>Select carrier first</option>
                    </select>
                    <span asp-validation-for="DriverId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group border border-dark rounded bg-gray-light p-2">
            <h5 class="text-muted text-bold ml-2">Cargo</h5>
            <div class="form-row">
                <div class="form-group col-6 m-0">
                    <div class="form-group">
                        <label asp-for="CargoName" class="control-label">Cargo name</label>
                        <input asp-for="CargoName" class="form-control col-10" placeholder="Cargo name" />
                        <span asp-validation-for="CargoName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select asp-for="CargoTypeId" class="form-control col-8" asp-items="cargoTypeItems">
                            <option hidden>Select</option>
                        </select>
                        <span asp-validation-for="CargoTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoadingBodyId" class="control-label">Required loading body</label>
                        <select asp-for="LoadingBodyId" class="form-control col-8" asp-items="loadingBodyItems">
                            <option hidden>Select</option>
                        </select>
                        <span asp-validation-for="LoadingBodyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label"></label>
                        <textarea asp-for="Details" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-6 m-0">
                    <div class="form-group p-2 border rounded">
                        <label class="text-muted">Dimentions</label>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label asp-for="Lenght" class="control-label"></label>
                                <input asp-for="Lenght" class="form-control" />
                                <span asp-validation-for="Lenght" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="Width" class="control-label"></label>
                                <input asp-for="Width" class="form-control" />
                                <span asp-validation-for="Width" class="text-danger"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="Height" class="control-label"></label>
                                <input asp-for="Height" class="form-control" />
                                <span asp-validation-for="Height" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2 border rounded">
                        <label class="text-muted">Specifications</label>
                        <div class="form-row">
                            <div class="form-group col-3">
                                <label class="control-label">Gross weight</label>
                                <input asp-for="WeightGross" class="form-control" />
                                <span asp-validation-for="WeightGross" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label class="control-label">Net weight</label>
                                <input asp-for="WeightNet" class="form-control" />
                                <span asp-validation-for="WeightNet" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Cubature" class="control-label"></label>
                                <input asp-for="Cubature" class="form-control" />
                                <span asp-validation-for="Cubature" class="text-danger"></span>
                            </div>
                            <div class="form-group col-3">
                                <label asp-for="Quantity" class="control-label"></label>
                                <input asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group border border-dark rounded bg-gray-light p-2">
            <h5 class="text-muted text-bold ml-2">Requaired documentation</h5>
            <div class="d-flex justify-content-around">
                <div class="col">
                    <div><input asp-for="Documentation.CMR" type="checkbox"><label>&nbsp;CMR</label></div>
                    <div><input asp-for="Documentation.BillOfLading" type="checkbox"><label>&nbsp;Bill of lading</label></div>
                    <div><input asp-for="Documentation.AOA" type="checkbox"><label>&nbsp;Act of acceptance</label></div>
                </div>
                <div class="col">
                    <div><input asp-for="Documentation.DeliveryNote" type="checkbox"><label>&nbsp;Delivery note</label></div>
                    <div><input asp-for="Documentation.PackingList" type="checkbox"><label>&nbsp;Packing list</label></div>
                    <div><input asp-for="Documentation.ListItems" type="checkbox"><label>&nbsp;List items</label></div>
                </div>
                <div class="col">
                    <div><input asp-for="Documentation.Invoice" type="checkbox"><label>&nbsp;Invoice</label></div>
                    <div><input asp-for="Documentation.BillOfGoods" type="checkbox"><label>&nbsp;Bill of goods</label></div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group border border-dark rounded bg-gray-light col-5 p-2 mr-4">
                <h5 class="text-muted text-bold ml-2">Loading</h5>
                <div class="form-group border rounded p-2">
                    <label class="text-muted">Address</label>
                    <div class="form-row">
                        <div class="form-group col-7">
                            <label asp-for="LoadingCity" class="control-label">City</label>
                            <input asp-for="LoadingCity" class="form-control" placeholder="City name" />
                            <span asp-validation-for="LoadingCity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="LoadingPostcode" class="control-label">Post code</label>
                            <input asp-for="LoadingPostcode" class="form-control" placeholder="Code" />
                            <span asp-validation-for="LoadingPostcode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="LoadingState" class="control-label">State</label>
                            <input asp-for="LoadingState" class="form-control" placeholder="State name" />
                            <span asp-validation-for="LoadingState" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="LoadingArea" class="control-label">Area</label>
                            <input asp-for="LoadingArea" class="form-control" placeholder="Area name" />
                            <span asp-validation-for="LoadingArea" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoadingStreetLine" class="control-label">Street line</label>
                        <input asp-for="LoadingStreetLine" class="form-control" placeholder="Street and number" />
                        <span asp-validation-for="LoadingStreetLine" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Due datetime</label>
                    <input asp-for="LoadingUntil" class="form-control" value="@null" />
                    <span asp-validation-for="LoadingUntil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Details</label>
                    <textarea asp-for="LoadingDetails" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="LoadingDetails" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group border border-dark rounded bg-gray-light col-5 p-2">
                <h5 class="text-muted text-bold ml-2">Unloading</h5>
                <div class="form-group border rounded p-2">
                    <label class="text-muted">Address</label>
                    <div class="form-row">
                        <div class="form-group col-7">
                            <label asp-for="UnloadingCity" class="control-label">City</label>
                            <input asp-for="UnloadingCity" class="form-control" placeholder="City name" />
                            <span asp-validation-for="UnloadingCity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="UnloadingPostcode" class="control-label">Post code</label>
                            <input asp-for="UnloadingPostcode" class="form-control" placeholder="Code" />
                            <span asp-validation-for="UnloadingPostcode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="UnloadingState" class="control-label">State</label>
                            <input asp-for="UnloadingState" class="form-control" placeholder="State name" />
                            <span asp-validation-for="UnloadingState" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="LoadingArea" class="control-label">Area</label>
                            <input asp-for="LoadingArea" class="form-control" placeholder="Area name" />
                            <span asp-validation-for="LoadingArea" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnloadingStreetLine" class="control-label">Street line</label>
                        <input asp-for="UnloadingStreetLine" class="form-control" placeholder="Street and number" />
                        <span asp-validation-for="UnloadingStreetLine" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Due datetime</label>
                    <input asp-for="UnloadingUntil" class="form-control" value="@null" />
                    <span asp-validation-for="UnloadingUntil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Details</label>
                    <textarea asp-for="UnloadingDetails" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="UnloadingDetails" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary col-1 mr-1" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(SetCurrencyId);
        function SetCurrencyId() {
            var curr1 = document.getElementById("CurrencyInId");
            var curr2 = document.getElementById("CurrencyOutId");
            curr1.value = "1";
            curr2.value = "1";
        }
        $(function () {
            $("#CompanyFromId").change(function () {
                $.getJSON("/Orders/GetContacts", { companyId: $("#CompanyFromId").val() }, function (d) {
                    var row = "";
                    $("#contactFrom").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#contactFrom").html(row);
                    var item = new Option("Select", null, true, true);
                    $(item).html("Select");
                    $("#contactFrom").append(item);
                })
            })
            $("#areaFilter").change(function () {
                $.getJSON("/Orders/GetCarriersByArea", { companyId: $("#areaFilter").val() }, function (d) {
                    var row = "";
                    $("#CompanyToId").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#CompanyToId").html(row);
                    var item = new Option("Select", null);
                    $(item).html("Select");
                    $("#CompanyToId").append(item);
                })
            })
            $("#CompanyToId").change(function () {
                $.getJSON("/Orders/GetContacts", { companyId: $("#CompanyToId").val() }, function (d) {
                    var row = "";
                    $("#contactTo").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#contactTo").html(row);
                    var item = new Option("Select", null, true, true);
                    $(item).html("Select");
                    $("#contactTo").append(item);
                })
                $.getJSON("/Orders/GetDrivers", { companyId: $("#CompanyToId").val() }, function (d) {
                    var row = "";
                    $("#driver").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#driver").html(row);
                    var item = new Option("Select", null, true, true);
                    $(item).html("Select");
                    $("#driver").append(item);
                })
                $.getJSON("/Orders/GetVehicles", { companyId: $("#CompanyToId").val() }, function (d) {
                    var row = "";
                    $("#vehicle").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#vehicle").html(row);
                    var item = new Option("Select", null, true, true);
                    $(item).html("Select");
                    $("#vehicle").append(item);
                })
            })
        })
    </script>
}
