@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model BCKFreightTMS.Web.ViewModels.Orders.OrderCreateInputModel
@{
    var companyItems = this.Model.CompanyItems.Select(ci => new SelectListItem(ci.Value, ci.Key));
    var currencyItems = this.Model.CurrencyItems.Select(c => new SelectListItem(c.Value, c.Key));
    var orderTos = this.Model.OrderTos;
}

<div class="col p-2">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" id="courses">
            <div class="tab rounded" id="tabs">
                @for (int i = 0; i < orderTos.Count; i++)
                {
                    <a class="btn tablinks @(i == 0 ? "active-tab":"")" id="course@(i > 0 ? i:"")">
                        @(i > 0 ? $" #{i + 1}" : @localizer["Course"])
                    </a>
                }
                @*<a id="addCourse" class="btn"><i class="fas fa-plus text-primary" style="pointer-events:none"></i></a>*@
            </div>
            @for (int i = 0; i < orderTos.Count; i++)
            {
                <div id="course@(i > 0 ? i:"")" class="tabcontent rounded-bottom bg-white" @(i == 0 ? "style=display:block" : "")>
                    <h5 class="text-muted text-bold text-center">@localizer["Carrier"]</h5>
                    <div class="form-group pl-2">
                        <label class="control-label">@localizer["Carrier company"]</label><a href="javascript:" class="pl-2" onclick="showInPopup('/Contacts/AddCompanyModal', '@localizer["Add company"]')"><i class="fas fa-plus"></i></a>
                        <div class="row pl-2">
                            <select asp-for="OrderTos[i].CompanyId" class="form-control col-5 selectpicker" data-live-search="true" asp-items="companyItems" required>
                                <option disabled selected hidden>Select</option>
                            </select>
                            <select id="areaFilter" class="form-control col-3 ml-2" asp-items="@Model.AreasItems">
                                <option hidden disabled selected>@localizer["Filter by area"]</option>
                            </select>
                        </div>
                        <span asp-validation-for="OrderTos[i].CompanyId" class="text-danger"></span>
                    </div>
                    <div class="form-group pl-2">
                        <label class="control-label">@localizer["Price"]</label>
                        <div class="row pl-2">
                            <input asp-for="OrderTos[i].PriceNetOut" class="form-control col-3" data-val="false" />
                            <select asp-for="OrderTos[i].CurrencyId" class="form-control col-1 ml-2" asp-items="currencyItems"></select>
                            <label class="text-bold text-black-50 ml-2 mt-1">@localizer["Client price"]: <b class="text-dark">@Model.OrderFromPriceNetIn</b></label>
                        </div>
                        <span asp-validation-for="OrderTos[i].PriceNetOut" class="text-danger"></span>
                    </div>
                    <div class="form-group pl-2">
                        <label class="text-bold text-black-50 ml-2 mt-1">@localizer["Requaired type"]: <b class="text-dark">@localizer[Model.OrderTos[i].Cargo.LoadingBodyName]</b></label>
                        @if (!string.IsNullOrWhiteSpace(Model.OrderTos[i].Cargo.VehicleRequirements))
                        {
                            <label class="text-bold text-black-50 ml-2 mt-1">@localizer["Additional requirements"]: <b class="text-dark">@Model.OrderTos[i].Cargo.VehicleRequirements</b></label>
                        }
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <div class="row radios">
                                <div class="form-check ml-2"><label><input class="form-check-input" type="radio" name="vehicleType@(i)" data-action="AddTruckModal" data-modal_title="@localizer["Add truck"]" checked/>@localizer["Truck"]</label></div>
                                <div class="form-check ml-2"><label><input class="form-check-input" type="radio" name="vehicleType@(i)" data-action="AddSoloModal" id="radSolo" data-modal_title="@localizer["Add solo"]" />@localizer["Solo"]</label></div>
                                <a href="javascript:" class="pl-2 addVehicle" style="display:none"><i class="fas fa-plus"></i></a>
                            </div>
                            <select asp-for="OrderTos[i].VehicleId" id="vehicle" class="form-control" asp-items="@(new SelectList(string.Empty, "VehicleId", "VehicleNumber"))">
                                <option disabled selected hidden>Select carrier first</option>
                            </select>
                            <span asp-validation-for="OrderTos[i].VehicleId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3" id="trailerSelect">
                            <label asp-for="OrderTos[i].VehicleTrailerId" class="control-label">@localizer["Trailer"]</label><a href="javascript:" class="pl-2 addTrailer" style="display:none" data-modal_title="@localizer["Add trailer"]"><i class="fas fa-plus"></i></a>
                            <select asp-for="OrderTos[i].VehicleTrailerId" id="trailer" class="form-control" asp-items="@(new SelectList(string.Empty, "TrailerId", "TrailerNumber"))">
                                <option disabled selected hidden>Select carrier first</option>
                            </select>
                            <span asp-validation-for="OrderTos[i].VehicleTrailerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row pl-2">
                        <div class="form-group col-4">
                            <label asp-for="OrderTos[i].ContactId" class="control-label">@localizer["Contact"]</label><a href="javascript:" class="pl-2 addContact" style="display:none"><i class="fas fa-plus"></i></a>
                            <select asp-for="OrderTos[i].ContactId" id="contactTo" class="form-control" asp-items="@(new SelectList(string.Empty, "ContactId", "ContactName"))">
                                <option disabled selected hidden>Select carrier first</option>
                            </select>
                            <span asp-validation-for="OrderTos[i].ContactId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="OrderTos[i].DriverId" class="control-label">@localizer["Driver"]</label><a href="javascript:" class="pl-2 addDriver" style="display:none"><i class="fas fa-plus"></i></a>
                            <select asp-for="OrderTos[i].DriverId" id="driver" class="form-control" asp-items="@(new SelectList(string.Empty, "DriverId", "DriverName"))">
                                <option disabled selected hidden>Select carrier first</option>
                            </select>
                            <span asp-validation-for="OrderTos[i].DriverId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.OrderTos[i].Id)
            }
        </div>
        @Html.HiddenFor(m => m.OrderFromPriceNetIn)
        @Html.HiddenFor(m => m.OrderFromCurrencyId)
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <button type="submit" title="Create" class="btn btn-primary mr-1" style="width:8em">@localizer["Create"]</button>
            <a asp-action="Accepted" class="btn btn-secondary">@localizer["Cancel"]</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script src="~/js/createOrder.js"></script>
}

