@using BCKFreightTMS.Common.Enums
@inject BCKFreightTMS.Services.Data.IFinanceService financeService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model BCKFreightTMS.Web.ViewModels.Invoices.InvoiceInInputModel
@{
    var orderTos = this.Model.OrderTos;
    var documentation = this.Model.OrderTos[0].Documentation;
    var priceOut = this.financeService.GetAmount(orderTos[0].CurrencyOutId, orderTos[0].PriceNetOut);
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*<h4><b>@localizer["Documentation check"]</b></h4>
    <hr />*@
<form method="post" class="p-2" id="documentation_form">
    <div class="form-group border bg-white p-4">
        <div class="form-row justify-content-around mb-4">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <p class="m-0" style="font-size:25px"><b>Фактура</b></p>
                <p class="m-0">/входяща/</p>
                <p class="m-0 ml-auto" style="font-size:18px"><i>Оригинал</i></p>
            </div>
            <div class="col-4 flex">
                <div class="col-7 ml-auto">
                    <div class="row">
                        <label>Номер:</label>
                        <input asp-for="InvoiceIn.Number" class="form-control" />
                    </div>
                    <div class="row">
                        <label>Дата:</label>
                        <input asp-for="InvoiceIn.CreateDate" class="form-control" value="@null" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-around">
            <table class="table table-sm table-borderless border border-dark rounded bg-gray-light col-5">
                <tr><td width="6"> Получател: </td><td>@Model.OrderCreatorCompany.Name</td></tr>
                <tr><td> ДДС №:</td><td>@Model.OrderCreatorCompany.TaxNumber</td></tr>
                <tr><td> Адрес:</td><td>@Model.OrderCreatorCompany.AddressAddressStreetLine</td></tr>
                <tr><td> Град:</td><td>@Model.OrderCreatorCompany.AddressAddressCity</td></tr>
                <tr><td> МОЛ:</td><td>@Model.OrderCreatorCompany.AddressMOLFirstName @Model.OrderCreatorCompany.AddressMOLLastName</td></tr>
                <tr><td> Телефон:</td><td>@Model.OrderCreatorCompany.ComunicatorsMobile1</td></tr>
            </table>
            <table class="table table-sm table-borderless border border-dark rounded bg-gray-light col-5">
                <tr><td width="6"> Доставчик: </td><td>@Model.CarrierOrderCompany.Name</td></tr>
                <tr><td> ДДС №:</td><td>@Model.CarrierOrderCompany.TaxNumber</td></tr>
                <tr><td> Адрес:</td><td>@Model.CarrierOrderCompany.AddressAddressStreetLine</td></tr>
                <tr><td> МОЛ:</td><td>@Model.CarrierOrderCompany.AddressMOLFirstName @Model.CarrierOrderCompany.AddressMOLLastName</td></tr>
                <tr><td> Телефон:</td><td>@Model.CarrierOrderCompany.ComunicatorsMobile1</td></tr>
            </table>
        </div>
        <div class="form-group">
            <table class="table table-sm table-bordered mb-1">
                <thead class="bg-gray-light text-center">
                    <tr>
                        <th>
                            <b>№</b>
                        </th>
                        <th>
                            Наименование на стоката/услугата
                        </th>
                        <th>
                            Мярка
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Цена
                        </th>
                    </tr>
                </thead>
                <tbody id="rows">
                    <tr id="row_0" style="cursor: pointer;">
                        <td>
                            <b>1</b>
                        </td>
                        <td>
                            Транспортна услуга <p class="m-0"><b>@Html.Raw(Model.OrderTos[0].Voyage) </b></p>
                            с автомобил <b>@Model.OrderTos[0].VehicleRegNumber/@Model.OrderTos[0].VehicleTrailerRegNumber </b>
                            по заявка <b>@Model.OrderTos[0].CarrierOrderReferenceNum</b>
                            @Html.HiddenFor(m => m.OrderTos[0].Id)
                        </td>
                        <td>
                            курс
                        </td>
                        <td>
                            1.00
                        </td>
                        <td class="price">
                            @priceOut
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="docs" class="border rounded bg-gray-light p-2">
            <div class="form-group m-0 rounded" id="doc_0">
                <div class="form-row justify-content-center">
                    <div class="form-group border border-dark rounded bg-gray-light p-2">
                        <h5 class="text-muted text-bold">@localizer["Requaired documentation"]</h5>
                        <div class="col" id="reqDoc">
                            @if (documentation.CMR)
                            {<div><i class="fas fa-check mr-2"></i><label>@localizer["CMR"]</label></div>}
                            @if (documentation.BillOfLading)
                            {<div><i class="fas fa-check mr-2"></i><label>@localizer["Bill of lading"]</label></div>}
                            @if (documentation.AOA)
                            {<div><i class="fas fa-check mr-2"></i><label>@localizer["Act of acceptance"]</label></div>}
                            @if (documentation.DeliveryNote)
                            {<div><i class="fas fa-check mr-2"></i><label>Delivery note</label></div>}
                            @if (documentation.PackingList)
                            {<div><i class="fas fa-check mr-2"></i><label>Packing list</label></div>}
                            @if (documentation.ListItems)
                            {<div><i class="fas fa-check mr-2"></i><label>List items</label></div>}
                            @if (documentation.Invoice)
                            {<div><i class="fas fa-check mr-2"></i><label>@localizer["Invoice"]</label></div>}
                            @if (documentation.BillOfGoods)
                            {<div><i class="fas fa-check mr-2"></i><label>@localizer["Bill of goods"]</label></div>}
                            @if (documentation.WeighingNote)
                            {<div><i class="fas fa-check mr-2"></i><label>@localizer["Weighing note"]</label></div>}
                        </div>
                    </div>
                    <div class="form-group border border-dark rounded bg-gray-light p-2 ml-2">
                        <h5 class="text-muted text-bold">@localizer["Recieved documentation"]</h5>
                        <div class="col">
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.CMR" type="checkbox"><label class="ml-1">@localizer["CMR"]</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.BillOfLading" type="checkbox"><label class="ml-1">@localizer["Bill of lading"]</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.AOA" type="checkbox"><label class="ml-1">@localizer["Act of acceptance"]</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.DeliveryNote" type="checkbox"><label class="ml-1">Delivery note</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.PackingList" type="checkbox"><label class="ml-1">Packing list</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.ListItems" type="checkbox"><label class="ml-1">List items</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.Invoice" type="checkbox"><label class="ml-1">@localizer["Invoice"]</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.BillOfGoods" type="checkbox"><label class="ml-1">@localizer["Bill of goods"]</label></div>
                            <div><input asp-for="OrderTos[0].DocumentationRecievedDocumentation.WeighingNote" type="checkbox"><label class="ml-1">@localizer["Weighing note"]</label></div>
                        </div>
                    </div>
                    <div class="row m-0 pb-3 align-items-md-center">
                        <div class="col" id="docCheck"><a href="javascript:" id="0" class="btn btn-primary">OK</a></div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.CMR)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.BillOfLading)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.AOA)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.DeliveryNote)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.PackingList)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.ListItems)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.Invoice)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.BillOfGoods)
                @Html.HiddenFor(m => m.OrderTos[0].Documentation.WeighingNote)
            </div>
        </div>
        <div class="form-group ml-2" id="invoiceAddRow" style="display:none">
            <div class="form-row">
                <p><b>@localizer["Има ли допълнителни курсове във фактурата?"]</b></p>
                <div class="ml-2">
                    <label class="ml-4"><input class="form-check-input" name="is" type="radio" id="yes" />@localizer["Да"]</label>
                    <label class="ml-4"><input class="form-check-input" name="is" type="radio" id="no" />@localizer["Не"]</label>
                </div>
            </div>
            <div class="form-row" id="addRow" style="display:none">
                <a href="javascript:" data-companyId="@Model.CarrierOrderCompany.Id" data-title="@localizer["Добави курс"]" class="btn btn-primary"><i class="fa fa-plus mr-2"></i>@localizer["Добави следващ курс"]</a>
            </div>
        </div>
        <div class="form-group" id="invoiceEnd" style="display:none">
            <div class="flex">
                <div class="form-group col-4 ml-auto mb-1">
                    <table class="table table-sm table-borderless">
                        <tr><td class="text-right"><b>@localizer["Данъчна основа:"]</b></td><td></td><td id="subTotal">0</td></tr>
                        <tr><td class="text-right"><b>@localizer["ДДС 20%:"]</b></td><td></td><td id="vat">@(!Model.OrderCreatorCompany.TaxCountryName.Equals("bulgaria", StringComparison.InvariantCultureIgnoreCase)?"0":"no")</td></tr>
                        <tr><td class="text-right"><b>@localizer["Сума за плащане:"]</b></td><td></td><td id="total">0</td></tr>
                    </table>
                </div>
                <div class="form-row justify-content-between">
                    <div>
                        @if (!Model.OrderCreatorCompany.TaxCountryName.Equals("bulgaria", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <label>@localizer["Основание за неначисляване на ДДС"]</label>
                            <select asp-for="InvoiceIn.ReasonNoVATId" class="form-control" asp-items="@Model.InvoiceIn.ReasonNoVATItems">
                                <option value="null">Select</option>
                            </select>
                        }
                    </div>
                    <div class="col-4">
                        <label>@localizer["Банкова сметка"]</label><a href="javascript:" class="pl-2" id="addBankBtn" data-companyId='@Model.CarrierOrderCompany.Id' data-title='@localizer["Add bank details"]'><i class="fas fa-plus" style="pointer-events:none"></i></a>
                        <select asp-for="InvoiceIn.BankDetailsId" class="form-control" asp-items="@Model.InvoiceIn.BankDetailsItems"></select>
                    </div>
                </div>
                <div class="form-row justify-content-between">
                    <p class="m-0 mt-2 ml-2"><i>@localizer["Получил:"]</i> @Model.OrderCreatorCompany.AddressMOLFirstName @Model.OrderCreatorCompany.AddressMOLLastName</p>
                    <p class="m-0 mt-2 mr-2"><i>@localizer["Съставил:"]</i> @Model.CarrierOrderCompany.AddressMOLFirstName @Model.CarrierOrderCompany.AddressMOLLastName</p>
                </div>
                <hr />
                <div class="row justify-content-center">
                    <a href="javascript:" id="showFinish" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-around" id="finish" style="display:none">
            <div class="form-group col-6">
                <div class="form-group">
                    <label>@localizer["Дата на получаване"]</label>
                    <input asp-for="InvoiceIn.ReceiveDate" class="form-control col-6" value="@null" />
                </div>
                <div class="form-row mt-4 ml-2">
                    <label>@localizer["Срок на плащане"]: </label>
                    @foreach (var val in BCKFreightTMS.Common.GlobalConstants.DueDaysValues)
                    {
                        if (val == Model.OrderDueDaysTo)
                        {
                            <label class="ml-4"><input class="form-check-input" asp-for="InvoiceIn.DueDays" type="radio" value="@val" checked />@val @localizer["дни"]</label>
                        }
                        else
                        {
                            <label class="ml-4"><input class="form-check-input" asp-for="InvoiceIn.DueDays" type="radio" value="@val" />@val @localizer["дни"]</label>
                        }
                    }
                </div>
            </div>
            <div class="row align-items-center col-3">
                @*@if (Model.InvoiceIn.StatusName == OrderStatusNames.AwaitingApproval.ToString())
                    {
                        <input asp-action="Finish" type="submit" class="btn btn-success" id="finishBtn" disabled value="@localizer["Finish"]" />
                    }
                    else
                    {*@
                <input asp-action="Finish" type="submit" class="btn btn-success" id="finishBtn" value="@localizer["Finish"]" />
                @*}
                    @if (Model.InvoiceIn.StatusName == OrderStatusNames.AwaitingApproval.ToString())
                    {
                        <input asp-action="ApproveDocumentation" type="submit" class="btn btn-warning" value="@localizer["Approve order documentation"]" />
                    }*@
            </div>
        </div>
        <div class="form-group mt-2">
            <a asp-action="Check" class="btn btn-secondary">@localizer["Cancel"]</a>
        </div>
    </div>
</form>
<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@localizer["Warning"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-bold text-center">
                    @localizer["The requaired documentation do not match the received documentation!"]
                </p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Close"]</button>*@
                <a id="confirmBtn" class="btn btn-warning">@localizer["Mark for approval"]</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="module" src="~/js/finish.js"></script>
}