@model BCKFreightTMS.Web.ViewModels.Orders.OrderStatusViewModel
@{
    this.Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    var actions = Model.Actions.ToList();
    var actionTypeItems = this.Model.ActionTypeItems.ToDictionary(x => x.Key, y => y.Value);
    var actionNFResItems = this.Model.ActionNotFinishedItems.Select(anf => new SelectListItem(anf.Value, anf.Key));
}

<h3 class="text-bold">Order status</h3>
<hr class="mb-1" />
<div class="container-fluid p-2">
    <div class="row bg-gray-light p-2 border rounded d-flex">
        <div class="col-3 p-1">
            <dl>
                <dt class="text-right">
                    Vehicle:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToVehicleName
                </dd>
                <dt class="text-right">
                    Registration number:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToVehicleRegNumber
                </dd>
                <dt class="text-right">
                    Trailer:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToVehicleRegNumber
                </dd>
            </dl>
        </div>
        <div class="col-3 p-1">
            <dl>
                <dt class="text-right">
                    Carrier:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToCompanyName
                </dd>
                <dt class="text-right">
                    Company mobile:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToCompanyComunicatorsMobile1
                </dd>
            </dl>
        </div>
        <div class="col-3 p-1">
            <dl>
                <dt class="text-right">
                    Contact person:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToContactFirstName @Model.OrderToContactLastName
                </dd>
                <dt class="text-right">
                    Contact mobile:&nbsp;&nbsp;
                </dt>
                <dd>
                    @Model.OrderToContactComunicatorsMobile1
                </dd>
            </dl>
        </div>
        <div class="col-2 p-1">
            <dl>
                @foreach (var (name, mobile) in Model.DriversMobiles)
                {
                    <dt class="text-right">
                        Driver:&nbsp;&nbsp;
                    </dt>
                    <dd>
                        @name
                    </dd>
                    <dt class="text-right">
                        Driver mobile:&nbsp;&nbsp;
                    </dt>
                    <dd>
                        @mobile
                    </dd>
                }
            </dl>
        </div>
    </div>
    <hr />
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" class="p-2">
            @*<div class="form-group border rounded bg-gray-light p-2">
                <h5 class="text-muted text-bold ml-2">Requaired documentation</h5>
                <div class="d-flex justify-content-around">
                    <div class="col">
                        <div><input asp-for="Documentation.CMR" type="checkbox"><label>&nbsp;CMR</label></div>
                        <div><input asp-for="Documentation.BillOfLading" type="checkbox"><label>&nbsp;Bill of lading</label></div>
                        <div><input asp-for="Documentation.AOA" type="checkbox"><label>&nbsp;Act of acceptance</label></div>
                    </div>
                    <div class="col">
                        <div><input asp-for="Documentation.DeliveryNote" type="checkbox"><label>&nbsp;Delivery note</label></div>
                        <div><input asp-for="Documentation.PackingList" type="checkbox"><label>&nbsp;Packing list</label></div>
                        <div><input asp-for="Documentation.ListItems" type="checkbox"><label>&nbsp;List items</label></div>
                    </div>
                    <div class="col">
                        <div><input asp-for="Documentation.Invoice" type="checkbox"><label>&nbsp;Invoice</label></div>
                        <div><input asp-for="Documentation.BillOfGoods" type="checkbox"><label>&nbsp;Bill of goods</label></div>
                    </div>
                </div>
            </div>*@
            @for (int i = 0; i < actions.Count; i++)
            {
                <div class="form-group border rounded bg-gray-light row p-2" disabled>
                    <div class="col-6">
                        <h5 class="control-label text-muted text-bold mr-3">@actionTypeItems[actions[i].TypeId.ToString()]</h5>
                        <div>
                            <dl>
                                <dt class="text-right">
                                    Address:&nbsp;&nbsp;
                                </dt>
                                <dd>
                                    @actions[i].AddressCity, @actions[i].AddressStreetLine
                                </dd>
                                <dt class="text-right">
                                    Details:&nbsp;&nbsp;
                                </dt>
                                <dd class="col-10">
                                    @actions[i].Details
                                </dd>
                            </dl>
                        </div>
                        <div>
                            @if (i > 0 && !actions[i - 1].IsFinnished && !actions[i].IsFinnished)
                            {
                                <input asp-for="@actions[i].IsFinnished" type="checkbox" onchange='DisableReason(this, @i)' disabled>
                            }
                            else
                            {
                                <input asp-for="@actions[i].IsFinnished" type="checkbox" onchange='DisableReason(this, @i)'>
                            }
                            <label>
                                &nbsp;Finished
                            </label>
                        </div>
                        <input asp-for="@actions[i].Id" hidden />
                        <input asp-for="@Model.Id" hidden />
                        <label class="control-label">Not finished reasons</label>
                        @if ((i > 0 && !actions[i - 1].IsFinnished && !actions[i].IsFinnished) || actions[i].IsFinnished)
                        {
                            <select asp-for="@actions[i].NotFinishedReasonId" class="form-control" asp-items="actionNFResItems" disabled></select>
                        }
                        else
                        {
                            <select asp-for="@actions[i].NotFinishedReasonId" class="form-control" asp-items="actionNFResItems"></select>
                        }
                    </div>
                    <div class="col-6 mt-4">
                        @if ((i > 0 && !actions[i - 1].IsFinnished && !actions[i].IsFinnished) || actions[i].IsFinnished)
                        {
                            <input asp-for="@actions[i].NoNotes" type="checkbox" disabled>
                        }
                        else
                        {
                            <input asp-for="@actions[i].NoNotes" type="checkbox">
                        }
                        <label>
                            &nbsp;No notes
                        </label>
                        <div class="form-group">
                            <label asp-for="@actions[i].Notes" class="control-label"></label>
                            @if ((i > 0 && !actions[i - 1].IsFinnished && !actions[i].IsFinnished) || actions[i].IsFinnished)
                            {
                                <textarea asp-for="@actions[i].Notes" class="form-control" rows="2" disabled></textarea>
                            }
                            else
                            {
                                <textarea asp-for="@actions[i].Notes" class="form-control" rows="2"></textarea>
                            }
                            <span asp-validation-for="@actions[i].Notes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <input asp-action="Status" type="submit" class="btn btn-primary" value="Update" />
                <input asp-action="Finish" type="submit" class="btn btn-success" value="Finish" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        function DisableReason(checkbox, i) {
            var reason = document.getElementById("actions_" + i + "__NotFinishedReasonId");
            var NNCheck = document.getElementById("actions_" + i + "__NoNotes");
            var notes = document.getElementById("actions_" + i + "__Notes");
            if (checkbox.checked == false) {
                reason.removeAttribute("disabled");
                NNCheck.removeAttribute("disabled");
                notes.removeAttribute("disabled");
                UpdateNextAction(i, true);
            }
            else if (NNCheck.checked == true || notes.value != "") {
                reason.setAttribute("disabled", "disabled");
                NNCheck.setAttribute("disabled", "disabled");
                notes.setAttribute("disabled", "disabled");
                UpdateNextAction(i, false);
            }
        }
        function UpdateNextAction(i, disabled) {
            var checkbox = document.getElementsByName("actions[" + (i + 1) + "].IsFinnished")[0];
            if (checkbox == undefined) {
                return;
            }
            var reason = document.getElementsByName("actions[" + (i + 1) + "].NotFinishedReasonId")[0];
            var NNCheck = document.getElementById("actions_" + (i + 1) + "__NoNotes");
            var notes = document.getElementById("actions_" + (i + 1) + "__Notes");
            if (disabled) {
                checkbox.removeAttribute("checked");
                reason.setAttribute("disabled", "disabled");
                checkbox.setAttribute("disabled", "disabled");
                NNCheck.setAttribute("disabled", "disabled");
                notes.setAttribute("disabled", "disabled");
            }
            else {
                reason.removeAttribute("disabled");
                checkbox.removeAttribute("disabled");
                NNCheck.removeAttribute("disabled");
                notes.removeAttribute("disabled");
            }
        }
        function UpdateBtns() {
            if ($(':checkbox[id$=IsFinnished]:checked').length == $(':checkbox[id$=IsFinnished]').length) {
                $(".btn-primary").attr("disabled", "disabled");
                $(".btn-success").attr("disabled", null);
            }
            else {
                $(".btn-primary").attr("disabled", null);
                $(".btn-success").attr("disabled", "disabled");
            }
        }
        $(document).ready(UpdateBtns);
        $(":checkbox").change(UpdateBtns);
    </script>
 }