@using BCKFreightTMS.Common;
@using BCKFreightTMS.Data.Models
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject UserManager<ApplicationUser> userManager
@inject BCKFreightTMS.Services.Data.IFinanceService financeService
@model IEnumerable<BCKFreightTMS.Web.ViewModels.Invoices.ListInvoiceInModel>
@{
    var user = await this.userManager.GetUserAsync(this.User);
    var companyCurrency = user.Company.TaxCurrency.Name;
}

<hr class="mt-1" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table table-striped table-hover rounded mb-2" id="orders_data">
    <thead>
        <tr>
            <th>
                @localizer["Invoice"]
            </th>
            <th>
                @localizer["Carrier"]
            </th>
            <th>
                @localizer["Recieve date"]
            </th>
            <th>
                @localizer["Amount"]
            </th>
            <th style="visibility: hidden;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoiceIn in this.Model)
        {
            <tr>
                <td>
                    <p class="text-bold m-0">@invoiceIn.Number</p>
                    <span>@invoiceIn.CreateDate.ToLocalTime().ToShortDateString()</span>
                </td>
                <td>
                    <span class="text-bold">@invoiceIn.BankDetailsCompanyName</span>
                </td>
                <td>
                    <span class="text-bold">@invoiceIn.ReceiveDate.ToLocalTime().ToShortDateString()</span>
                </td>
                <td class="text-center">
                    <span class="text-bold">@(invoiceIn.NoVAT ? $"{invoiceIn.Price:f2}" : $"{invoiceIn.Price * GlobalConstants.VATTot:f2}")</span>
                </td>
                <td class="align-middle text-center">
                    <a asp-action="Correct" asp-route-id="@invoiceIn.Id" class="btn btn-warning">@localizer["Fix"]</a>
                </td>
                <!--<td class="px-2 text-center align-middle" style="width:auto">-->
                    @*<a asp-action="Edit" asp-route-id="@order.Id" title="Edit"><i class="pr-2 fas fa-edit"></i></a>*@
                    <!--<a href="javascript:void(0);" onclick="showInPopup('Invoices/Details/@invoiceIn.Id', 'Details')" title="Details">
                            <span>
                                <i class="p-1 fas fa-info-circle"></i>
                            </span>
                        </a>-->
                    @*<a asp-action="Delete" asp-route-id="@invoiceIn.Id" title="Delete"><i class="fas fa-trash-alt"></i></a>*@
                <!--</td>-->
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.js"></script>
    <script>
        $(function () {
            $('#orders_data').DataTable({
                "paging": true,
                "filter": true,
                "processing": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                //"scrollX": true,
                //"scrollCollapse": true,
            });
        });
    </script>
}
