@using BCKFreightTMS.Common.Enums
@inject BCKFreightTMS.Services.Data.IFinanceService financeService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model BCKFreightTMS.Web.ViewModels.Invoices.InvoiceNoteOutInputModel
@{
    var vatReasons = this.Model.InvoiceOut.ReasonNoVATItems
                                          .Select(r => new SelectListItem { Text = this.localizer[r.Value].Value, Value = r.Key });
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" class="p-2" id="documentation_form">
    <div class="form-group border bg-white p-4">
        <div class="form-row justify-content-around mb-4">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <p class="m-0" style="font-size:35px"><b>@localizer["Известие"]</b></p>
                <div class="form-row justify-content-around mt-2">
                    @foreach (var val in System.Enum.GetValues(typeof(InvoiceNoteTypes)).OfType<InvoiceNoteTypes>())
                    {
                        <label class="ml-4" style="font-size:16px"><input class="form-check-input" asp-for="Note.InvoiceNoteType" type="radio" value="@((int)val)" />@localizer[val.ToString()]</label>
                    }
                </div>
                <span asp-validation-for="Note.InvoiceNoteType" class="text-danger"></span>
                <p class="m-0" style="font-size:20px">@localizer["към фактура"] <b>@Model.InvoiceOut.Number</b> / <b>@Model.InvoiceOut.CreateDate.ToLocalTime().ToShortDateString()</b></p>
            </div>
            <div class="col-4 flex">
                <div class="col-7 ml-auto">
                    <div class="row">
                        <label>Номер: </label>
                        <input asp-for="Number" class="form-control" />
                    </div>
                    <div class="row">
                        <label>Дата:</label>
                        <input asp-for="CreateDate" class="form-control" value="@null" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-around">
            <table class="table table-sm table-borderless border border-dark rounded bg-gray-light col-5">
                <tr><td width="6"> Получател: </td><td>@Model.OrderOrderFromCompany.Name</td></tr>
                <tr><td> ДДС №:</td><td>@Model.OrderOrderFromCompany.TaxNumber</td></tr>
                <tr><td> Адрес:</td><td>@Model.OrderOrderFromCompany.AddressAddressStreetLine</td></tr>
                <tr><td> МОЛ:</td><td>@Model.OrderOrderFromCompany.AddressMOLFirstName @Model.OrderOrderFromCompany.AddressMOLLastName</td></tr>
                <tr><td> Телефон:</td><td>@Model.OrderOrderFromCompany.ComunicatorsMobile1</td></tr>
            </table>
            <table class="table table-sm table-borderless border border-dark rounded bg-gray-light col-5">
                <tr><td width="6"> Доставчик: </td><td>@Model.OrderCreatorCompany.Name</td></tr>
                <tr><td> ДДС №:</td><td>@Model.OrderCreatorCompany.TaxNumber</td></tr>
                <tr><td> Адрес:</td><td>@Model.OrderCreatorCompany.AddressAddressStreetLine</td></tr>
                <tr><td> Град:</td><td>@Model.OrderCreatorCompany.AddressAddressCity</td></tr>
                <tr><td> МОЛ:</td><td>@Model.OrderCreatorCompany.AddressMOLFirstName @Model.OrderCreatorCompany.AddressMOLLastName</td></tr>
                <tr><td> Телефон:</td><td>@Model.OrderCreatorCompany.ComunicatorsMobile1</td></tr>
            </table>
        </div>
        <div class="form-row">
            <div class="form-group col-5 offset-1">
                <label>@localizer["Основание"]</label>
                <textarea asp-for="Note.Details" class="form-control" rows="5"></textarea>
            </div>
            <div class="col-5 offset-1">
                <div class="form-group">
                    <label>@localizer["Стойност"]</label>
                    <input asp-for="Note.Amount" class="form-control col-5" value="0" data-val="false" />
                    <span asp-validation-for="Note.Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@localizer["Валута"]</label>
                    <select asp-for="Note.CurrencyId" class="form-control col-4" asp-items="@Model.Note.CurrencyItems"></select>
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <table class="table table-sm table-bordered mb-1">
                <thead class="bg-gray-light text-center">
                    <tr>
                        <th>
                            <b>№</b>
                        </th>
                        <th>
                            Наименование на стоката/услугата
                        </th>
                        <th>
                            Мярка
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Цена
                        </th>
                    </tr>
                </thead>
                <tbody id="rows">
                    <tr id="row_0">
                        <td>
                            <b>1</b>
                        </td>
                        <td>
                            Спедиторски услуги <p class="m-0"><b>@Html.Raw(Model.OrderTos[0].Voyage) </b></p>
                            с автомобил <b>@Model.OrderTos[0].VehicleRegNumber/@Model.OrderTos[0].VehicleTrailerRegNumber </b>
                            по заявка <b>@(string.IsNullOrWhiteSpace(this.Model.OrderTos[0].OrderOrderFromReferenceNum) ? this.Model.OrderTos[0].ReceiveDate : this.Model.OrderTos[0].OrderOrderFromReferenceNum)</b>
                            @Html.HiddenFor(m => m.OrderTos[0].Id)
                        </td>
                        <td>
                            курс
                        </td>
                        <td>
                            1.00
                        </td>
                        <td class="price">
                            @($"{priceIn:f2}")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group ml-2" id="invoiceAddRow">
            <div class="form-row">
                <p><b>@localizer["Има ли допълнителни курсове във фактурата?"]</b></p>
                <div class="ml-2">
                    <label class="ml-4"><input class="form-check-input" name="is" type="radio" id="yes" />@localizer["Да"]</label>
                    <label class="ml-4"><input class="form-check-input" name="is" type="radio" id="no" />@localizer["Не"]</label>
                </div>
            </div>
            <div class="form-row" id="addRow" style="display:none">
                <a href="javascript:" data-companyId="@Model.OrderOrderFromCompany.Id" data-title="@localizer["Добави курс"]" class="btn btn-primary"><i class="fa fa-plus mr-2"></i>@localizer["Добави следващ курс"]</a>
            </div>
        </div>*@
        <div class="form-group" id="invoiceEnd">
            <div class="flex">
                <div class="form-group col-4 ml-auto mb-1">
                    @*<table class="table table-sm table-borderless">
                        <tr><td class="text-right"><b>@localizer["Данъчна основа:"]</b></td><td></td><td id="subTotal">0</td></tr>
                        <tr><td class="text-right"><b>@localizer["ДДС 20%:"]</b></td><td></td><td id="vat">0</td></tr>
                        <tr><td class="text-right"><b>@localizer["Сума за плащане:"]</b></td><td></td><td id="total">0</td></tr>
                    </table>*@
                </div>
                <div class="form-row justify-content-between">
                    <div>
                        <label>@localizer["Основание за начисляване / неначисляване на ДДС"]:</label>
                        <select asp-for="VATReasonId" class="form-control col-5 vatReason" asp-items="@vatReasons" data-selected="@Model.InvoiceOut.VATReasonId">
                        </select>
                    </div>
                    <div class="col-4">
                        <label>@localizer["Банкова сметка"]</label><a href="javascript:" class="pl-2" id="addBankBtn" data-companyId='@Model.OrderCreatorCompany.Id' data-title='@localizer["Add bank details"]'><i class="fas fa-plus" style="pointer-events:none"></i></a>
                        <select asp-for="BankDetailsId" class="form-control" asp-items="@Model.InvoiceOut.BankDetailsItems"></select>
                    </div>
                </div>
                @*<div class="form-row justify-content-between">
                        <p class="m-0 mt-2 ml-2"><i>@localizer["Получил:"]</i> @Model.OrderOrderFromCompany.AddressMOLFirstName @Model.OrderOrderFromCompany.AddressMOLLastName</p>
                        <p class="m-0 mt-2 mr-2"><i>@localizer["Съставил:"]</i> @Model.OrderCreatorCompany.AddressMOLFirstName @Model.OrderCreatorCompany.AddressMOLLastName</p>
                    </div>*@
                @*<hr />
                <div class="row justify-content-center">
                    <a href="javascript:" id="showFinish" class="btn btn-primary">OK</a>
                </div>*@
            </div>
            <div class="form-group col-6">
                <div class="form-row mt-4 ml-2">
                    <label>@localizer["Срок на плащане"]: </label>
                    @foreach (var val in BCKFreightTMS.Common.GlobalConstants.DueDaysValues)
                    {
                        if (val == Model.InvoiceOut.DueDays)
                        {
                            <label class="ml-4"><input class="form-check-input" asp-for="DueDays" type="radio" value="@val" checked />@val @localizer["дни"]</label>
                        }
                        else
                        {
                            <label class="ml-4"><input class="form-check-input" asp-for="DueDays" type="radio" value="@val" />@val @localizer["дни"]</label>
                        }
                    }
                </div>
            </div>
        </div>
        @*<div class="form-row justify-content-around" id="finish" style="display:none">
            <div class="row align-items-center col-3">
                <input asp-action="FinishOut" type="submit" class="btn btn-success" id="finishBtn" value="@localizer["File"]" />
            </div>
        </div>*@
        @Html.HiddenFor(m => m.InvoiceOut.Id)
        <div class="form-group mt-2">
            <a asp-action="AwaitingPayment" class="btn btn-secondary">@localizer["Отказ"]</a>
            <input asp-action="InvoiceNoteOut" type="submit" class="btn btn-primary" id="finishBtn" value="@localizer["Създай"]" />
        </div>
    </div>
</form>
@section Scripts{
    @*<script type="module" src="~/js/invoicing.js"></script>*@
}