@page
@model RegisterModel
@{
    this.Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BCKFreight | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/plugins/fontawesome-free-5.15.1-web/css/fontawesome.css" asp-append-version="true">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/adminlte.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true">
</head>
<body class="hold-transition register-page" style="
        background-image: url('/img/e13edc61-c4f9-468a-8e51-b21884df39d3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    ">
    <div class="register-box">
        <div class="register-logo">
            <b>BCK</b>Freight
        </div>

        <div class="card">

            <div class="card-body register-card-body pt-0">
                @*<p class="login-box-msg">Register a new membership</p>*@

                <form asp-route-returnUrl="@Model.ReturnUrl" id="regForm" method="post">
                    <div class="tab">
                        <div class="card-header text-center border-0">
                            <h5>Personal</h5>
                            <hr class="m-0"/>
                        </div>
                        <div class="row row-cols-2">
                            <div class="mb-3 col col-6">
                                <input asp-for="Input.FirstName" type="text" class="form-control" placeholder="First name">
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col col-6">
                                <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Last name">
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text rounded">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text rounded">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                            <div class="input-group-append">
                                <div class="input-group-text rounded">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="tab" style="display:none">
                        <div class="card-header text-center border-0">
                            <h5>Company</h5>
                            <hr class="m-0" />
                        </div>
                        <div class="mb-3 p-0 col col-10">
                            <input asp-for="Input.CompanyName" type="text" class="form-control" placeholder="Company name">
                            <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                        </div>
                        <div class="row row-cols-2">
                            <div class="mb-3 col col-7">
                                <input asp-for="Input.TaxCountry" type="text" class="form-control" placeholder="Tax country">
                                <span asp-validation-for="Input.TaxCountry" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col col-5">
                                <input asp-for="Input.TaxNumber" type="text" class="form-control" placeholder="Tax number">
                                <span asp-validation-for="Input.TaxNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3 p-0 col col-5">
                            <select asp-for="Input.TaxCurrency" class="form-control" asp-items="Model.TaxCurrencyItems">
                                <option class="text-muted" disabled hidden>Tax Currency</option>
                            </select>
                        </div>
                        <div class="mb-3 p-0 col col-7">
                            <input asp-for="Input.City" type="text" class="form-control" placeholder="City">
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="mb-3 p-0 col">
                            <input asp-for="Input.StreetLine" type="text" class="form-control" placeholder="Street line">
                            <span asp-validation-for="Input.StreetLine" class="text-danger"></span>
                        </div>
                        <div class="row row-cols-2">
                            <div class="mb-3 col col-6">
                                <input asp-for="Input.MOLFirstName" type="text" class="form-control" placeholder="MOL first name">
                                <span asp-validation-for="Input.MOLFirstName" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col col-6">
                                <input asp-for="Input.MOLLastName" type="text" class="form-control" placeholder="MOL last name">
                                <span asp-validation-for="Input.MOLLastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        @*<div class="col-8">
            <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                    I agree to the <a href="#">terms</a>
                </label>
            </div>
        </div>*@
                        <button type="button" id="prevBtn" onclick='nextPrev(-1)' class="btn btn-secondary m-2">Personal</button>
                        <button type="button" id="nextBtn" onclick='nextPrev(1)' class="btn btn-primary col-4 m-2">Next</button>
                    </div>
                </form>

                @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>*@

            <a asp-area="Identity" asp-page="/Account/Login" class="text-center">I am already registered</a>
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/adminlte.js"></script>
    <script>
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the crurrent tab

        function showTab(n) {
            // This function will display the specified tab of the form...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            //... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Register";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }
    </script>
</body>
</html>

@*<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
